<launch>
	<!-- imu node -->
	<node pkg="fetch" type="imu" name="imu" output="screen" />

    <!-- foot_switches -->
	<param name="foot_switches_publish_frequency_hz" value="20.0" />
    <node pkg="fetch" type="foot_switches" name="foot_switches" output="screen" />

    <!-- foot_servos -->
	<param name="foot_servos_enable_logging" value="true" /> 
	<param name="foot_servos_lower_angle" value="0" />
	<param name="foot_servos_upper_angle" value="180" />
    <!-- turn on onboard power for testing with smaller servo -->
	<param name="foot_servos_use_onboard_power" value="true" /> 
    <!-- Use `sudo -E` to run as root, preserving environment variables. -->
    <!-- PRU memory needs to be accessed directly, so root is needed. See https://github.com/StrawsonDesign/librobotcontrol/issues/132 -->
    <!-- Environment variables must be preserved or $ROS_MASTER_URI is not set. See https://answers.ros.org/question/165246/launch-node-with-root-permissions/?answer=165386#post-id-165386 and suforeman comment-->
    <!-- Passwordless sudo must also be set up. Run `sudo visudo` and add `debian ALL=(ALL) NOPASSWD: ALL` to the end of the file. See https://serverfault.com/a/596988 -->
    <node pkg="fetch" type="foot_servos" name="foot_servos" output="screen" launch-prefix="sudo -E"/>
</launch>
