<launch>
	<arg name="joy_dev" default="/dev/input/js0" />
	<arg name="mapping_file" default="xbox360_mapping.yaml" />
	<arg name="enable_logging" default="false" />
	<arg name="speed_multiplier" default="1.0" />
	<arg name="turn_multiplier" default="0.5" />
	
	<!-- joy node -->
	<node pkg="joy" type="joy_node" name="joy_node">
		<param name="dev" value="$(arg joy_dev)" />
	</node>

	<!-- xinput node -->
	<node pkg="isc_joy" type="joystick_xbox360" name="joystick_xbox360">
		<rosparam command="load" file="$(find isc_joy)/mappings/$(arg mapping_file)" />
	</node>

	<!-- manual control node -->
	<param name="manual_control_speed_multiplier" value="$(arg speed_multiplier)" />
	<param name="manual_control_turn_multiplier" value="$(arg turn_multiplier)" />
	<node pkg="isc_joy" type="manual_control" name="manual_control" />

    <!-- foot_motion -->
    <!-- turn on onboard power for testing with smaller servo -->
	<param name="foot_motion_use_onboard_power" value="true" /> 
    <!-- Use `sudo -E` to run as root, preserving environment variables. -->
    <!-- PRU memory needs to be accessed directly, so root is needed. See https://github.com/StrawsonDesign/librobotcontrol/issues/132 -->
    <!-- Environment variables must be preserved or $ROS_MASTER_URI is not set. See https://answers.ros.org/question/165246/launch-node-with-root-permissions/?answer=165386#post-id-165386 and suforeman comment-->
    <!-- Passwordless sudo must also be set up. Run `sudo visudo` and add `debian ALL=(ALL) NOPASSWD: ALL` to the end of the file. See https://serverfault.com/a/596988 -->
    <node pkg="fetch" type="foot_motion" name="foot_motion" launch-prefix="sudo -E"/>
</launch>
